<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Friender</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/friender.css">
  <!--<link rel="shortcut icon" href="/static/favicon.ico"> -->
</head>

<body class="nav-body">

  <nav class="navbar">
    <ul class="navbar-nav">
      <li> <a href="/" class="navbar-brand">
          <img src="/static/images/logo.png" alt="logo">
          <span>Friender</span>
        </a></li>
      {% if not g.user %}
      <li class="nav-item"><a class="nav-text" href="/signup">Sign Up</a></li>
      <li class="nav-item"><a class="nav-text" href="/login">Log In</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-text" href="/messages">View Messages</a></li>
      <li class="nav-item"><a class="nav-text" href="/profile">My Profile</a></li>
      <form action="/logout" method="POST">
        {{ g.csrf_form.hidden_tag() }}
        <button class="logout-button">Log Out</button>
      </form>
      {% endif %}
    </ul>
  </nav>

  {% if get_flashed_messages() %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
      <p class="flash-message">{{ message }}
    {% endfor %}
  {% endif %}

  <br>
  {% block content %}
  {% endblock %}

  </div>
</body>

</html>