{% extends 'base.html' %}
{% block title %} all messages! {% endblock %}
{% block content %}
<div class="container">
<h1>Hi {{ g.user.first_name }}! Here are your conversations </h1>
<div class="message">Start a message with a match:
    <form class="seeMatch" method="POST" action="/messages" id="seeMatch">
        {{ g.csrf_form.hidden_tag() }}
        <select name="matches_id" id="matches_id" class="normal-button">
          {% for match_id, username in user_matches %}
            <option class="match_see" value="{{ match_id }}">{{ username }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="normal-button">Send Message</button>
    </form>
</div>
{% for conversant in conversants %}
    <h4 class="message" id="receiver_sml">
        <a href="/messages/{{ conversant.id }}" class="rcv-link">
            {{ conversant.first_name }}
        </a>
    </h4>
{% endfor %}
{% endblock %}