<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload to S3</title>
</head>
<body>
    <h1>Upload File to S3</h1>
    <form method="POST" action="/picture" enctype="multipart/form-data">
        {{ g.csrf_form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}

            <p>
                {{ field.label(class="form-label")}}
                {{ field(class="form-control")}}

                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>

            {% endfor %}

        <button type="submit">Upload</button>
    </form>
</body>
</html>