{% extends 'base.html' %}
{% block body_class %}onboarding{% endblock %}
{% block content %}
  <div>
      <h2 class="signup join-message">Welcome back.</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="normal-button">Log in</button>
        </div>
      </form>
  </div>
{% endblock %}