{% extends 'base.html' %}
{% block body_class %}sign up{% endblock %}
{% block content %}
  <div>
      <h2 class="signup">Join Friender today.</h2>
      <form class="form form-body" method="POST" id='signup_form' action="/signup" enctype="multipart/form-data">
        {{ g.csrf_form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label(class="form-label")}}
          {{ field(class="form-control") }}
        {% endfor %}
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="normal-button">Sign me up!</button>
        </div>
      </form>
  </div>
  <br>
{% endblock %}