{% extends 'base.html' %}

{% block body_class %}sign up{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="signup join-message">Join Friender today.</h2>
      <form method="POST" id='signup_form' action="/signup" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}

          {{ field.label(class="form-label")}}
          {{ field(class="form-control") }}

        {% endfor %}
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="normal-button">Sign me up!</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}